@import "tailwindcss";  
*{
  box-sizing: border-box;
  font-family: "Inter",sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}